#blog_post
  .container
    .section_header
      %h3 VATEUD Events Calendar

    .row
      .calendar
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=700&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=4mmstomhihc2tt4p4utu8eqbdqesse67%40import.calendar.google.com&amp;color=%232F6309&amp;ctz=Etc%2FGMT" style=" border:solid 1px #777 " width="1000" height="700" frameborder="0" scrolling="no"></iframe>
        %p.event-legend
          Events are created and distibuted via the <a href="http://api.vateud.net/" target="_blank">VATEUD API</a>
          %br
          Download the event data in <a href="http://api.vateud.net/events.ics">ics/ical</a>, <a href="http://api.vateud.net/events.json">json</a>, <a href="http://api.vateud.net/events.xml">xml</a> or <a href="http://api.vateud.net/events.csv">csv</a> formats