%table.table.table-striped.table-hover.table-condensed.sortable
  %thead
    %tr
      %th Name
      %th Link
      %th Cached
  %tbody
    - unless @charts.class == String
      - for chart in @charts
        %tr
          %td.small-caps= chart.name.downcase
          %td= link_to "Downlad", chart.url_aip
          %td= link_to "Cached", chart.url_charts_aero
    -else
      %tr
        %rd{:colspan => 3} Charts data currently unavailable
