<div id="sv_552" style="width: 100%; height: 250px;"><a href="http://skyvector.com/" target="_blank">Flight Plan</a> at SkyVector.com</div><script src="http://skyvector.com/perl/lchart?ll=#{@airport.data.lat},#{@airport.data.lon}&amp;s=2&amp;c=sv_552&amp;i=301" type="text/javascript"></script>
