%table.table.table-striped.table-hover.table-condensed.sortable
  %thead
    %tr
      %th Start
      %th Title
  %tbody
    - for event in @country.subdivision.events.past.limit(10)
      %tr
        %td= event.starts
        %td= link_to event.title, "http://api.vateud.net/events/#{event.id}"
%p.note * Click on table headers to dynamically sort data


