#aboutus
  .container
    .section_header
      %h3.center.regular Countries and vACCs
    .row
      .span3
        = render :partial => 'country_list'

      .span9
        - cache("squawk_ranges", :expires_in => 30.minutes) do
          = render :partial => 'squawk_ranges'
