.section_header {margin-bottom: 20px;}

// #aboutus .flexslider { margin-top: -40px; }
#aboutus .flexslider img { box-shadow: 6px 6px 4px #888888; }
.navbar .brand { padding-top: 0px; padding-bottom: 0px;}
#footer .recent_posts .post {margin-bottom: 20px;}

.row.disclaimer {font-style: italic; text-align: center; margin-top: 10px; font-size: smaller;}

#footer .credits {padding: 10px 0px 20px 0px;}
#footer .credits .copyright { margin-top: 10px; }

#blog_post .post_content {margin-top: 20px; padding-bottom: 30px;}
#blog_post .span7 img {width: 100%;}
#blog_post .post_content span.date {margin-bottom: 12px;}
#blog_post .post_content .author_box {margin-top: 20px;}

#blog_post .post_content .author_box .author {margin-top: 15px;}

#blog_post .sidebar {padding: 0px 19px 10px 28px;}
#blog_post .sidebar .recent img { float: left; margin-right: 20px;}
#blog_post .sidebar .recent .post .date {font-weight: bold;font-style: italic;}
#blog_post .sidebar .recent .post .title {display: block;font-size: 14px;}
.clear {clear:both;}

.calendar {margin-left: auto; margin-right: auto; text-align: center;}
table#mvDaynamesTable .mv-daynames-table {color: #355B8B;}

.event-legend {font-size: 10px; font-weight: bold;}

.sidebar-home {margin-top: 50px;}

.intro {max-width: 540px;}