#footer
  .container
    .row.sections
      = render "recent_news"
      = render "upcoming_events"
      
      
      .span4.contact
        %h3.footer_header Contact
        <form action="#" method="post">
        <input type="text" placeholder="Your name" />
        <input type="text" placeholder="Your email" />
        <textarea rows="3" placeholder="Message"></textarea>
        <input type="submit" value="Send" />
        </form>
    = render "social"
