#footer
  .container
    .row.sections
      .span4.recent_posts
        %h3.footer_header Recent Posts
        .post
          <a href="blogpost.html"><img src="img/recent_post1.png" class="img-circle" /></a>
          .date Wed, 12 Dec
          <a href="blogpost.html" class="title">Randomised words which don't look embarrasing hidden.</a>
        .post
          <a href="blogpost.html"><img src="img/recent_post2.png" class="img-circle" /></a>
          .date Mon, 12 Dec
          <a href="blogpost.html" class="title">Randomised words which don't look embarrasing hidden.</a>
      .span4.testimonials
        %h3.footer_header Testimonials
        .wrapper
          .quote
            %span “
            There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
            %span
          .author
            <img src="img/user-display.png" />
            <div class="name">Alejandra Galvan Castillo</div>
            <div class="info">Details Canvas</div>
      .span4.contact
        %h3.footer_header Contact
        <form action="#" method="post">
        <input type="text" placeholder="Your name" />
        <input type="text" placeholder="Your email" />
        <textarea rows="3" placeholder="Message"></textarea>
        <input type="submit" value="Send" />
        </form>
    .row.credits
      .span12
        .row.social
          .span12
            <a href="#" class="facebook">
            <span class="socialicons ico1"></span>
            <span class="socialicons_h ico1h"></span>
            </a>
            <a href="#" class="twitter">
            <span class="socialicons ico2"></span>
            <span class="socialicons_h ico2h"></span>
            </a>
            <a href="#" class="gplus">
            <span class="socialicons ico3"></span>
            <span class="socialicons_h ico3h"></span>
            </a>
            <a href="#" class="flickr">
            <span class="socialicons ico4"></span>
            <span class="socialicons_h ico4h"></span>
            </a>
            <a href="#" class="pinterest">
            <span class="socialicons ico5"></span>
            <span class="socialicons_h ico5h"></span>
            </a>
            <a href="#" class="dribble">
            <span class="socialicons ico6"></span>
            <span class="socialicons_h ico6h"></span>
            </a>
            <a href="#" class="behance">
            <span class="socialicons ico7"></span>
            <span class="socialicons_h ico7h"></span>
            </a>
        = render "copyright"
        
   