#aboutus
  .container
    .section_header
      %h3= @page.title
    .row
      .span6.intro
        #page_content.mercury-region{:data => {:mercury => "full"}}
          =raw(@page.post)  
      .span6.flexslider
        %ul.slides
          - for slide in random_horizontal_images(5)
            %li= image_tag slide
          