#aboutus
  .container
    .section_header
      %h3= @page.title
    .row
      .span6.intro
        #page_content.mercury-region{:data => {:type => "editable"}}
          =raw(@page.post)
        %h6 There are many variations of passages Lorem Ipsum available, injected generators on the hidden.
        %p There are many variations of passages of Lorem Ipsum available, injected ...
      .span6.flexslider
        %ul.slides
          / %li <img src="img/about_slide1.jpg" />
          / %li <img src="img/about_slide1.jpg" />
          / %li <img src="img/about_slide1.jpg" />
        