.navbar.transparent.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html">
        <strong>CLEAN CANVAS</strong>
      </a>
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li <a href="index.html" class="active">HOME</a>
          %li <a href="about-us.html">ABOUT US</a>
          %li.dropdown
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              PAGES
              <b class="caret"></b>
            </a>
            %ul.dropdown-menu
              <li><a href="features.html">Features</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="portfolio-item.html">Portfolio Item</a></li>
              <li><a href="coming-soon.html">Coming Soon</a></li>
              <li><a href="sign-in.html">Sign in</a></li>
              <li><a href="sign-up.html">Sign up</a></li>
              <li><a href="backgrounds.html">Backgrounds</a></li>
          %li <a class="btn-header" href="sign-up.html">Sign up</a>
