#aboutus
  .container
    .row
      .span3
      .span9
        .section_header
          %h3.center= @page.title
        .intro
          #page_content.mercury-region{:data => {:mercury => "full"}}
            =raw(@page.post)
