<section id="feature_slider" class="">
%article.slide#showcasing{:style => "background: url(#{image_path('backgrounds/landscape.png')}) repeat-x top center;"}
  =image_tag "slides/plane.png", :class => "asset left-1 sp400 t90 z1"
  .info
    %h2
      experience.<br />
      %span.eud-green discover.<br />
      %span.eud-blue enjoy.

%article.slide#ideas{:style => "background: url(#{image_path('backgrounds/aqua.jpg')}) repeat-x top center;"}
  =link_to image_tag("slides/serv1.jpg", :class => "asset left-570 sp700 t260 z1"), "http://api.vateud.net", :target => "_blank"
  =link_to image_tag("slides/serv2.jpg", :class => "asset left-260 sp550 t180 z2"), "http://tasks.vateud.net", :target => "_blank"
  =link_to image_tag("slides/serv3.jpg", :class => "asset left280 sp620 t150 z1"), "http://ptd.vateud.net", :target => "_blank"
  .info
    %h2
      We deliver the
      %span.eud-green data
      and
      %span.eud-blue services
      that you need.

%article.slide#tour{:style => "background: url(#{image_path('backgrounds/baby-blue.jpg')}) repeat-x top center;"}
  =image_tag "slides/w14_foot.png", :class => "asset left-550 sp650 t130 z3"
  =image_tag "slides/w14_sky.png", :class => "asset left-570 sp450 t135 z2"
  =image_tag "slides/w14_top.png", :class => "asset left-185 sp550 t370 z1"
  .info
    %h2 W14.ME
    <a href="http://www.w14.me/" target="_blank">Will you be there?</a>

%article.slide#responsive{:style => "background: url(#{image_path('backgrounds/indigo.jpg')}) repeat-x top center;"}
  =image_tag "slides/atc1.jpg", :class => "asset left-630 sp600 t120 z3"
  =image_tag "slides/atc2.jpg", :class => "asset left-260 sp500 t120 z2"
  .info
    %h2 Support your fellow <strong>ATC</strong> trainees
    <a href="http://cpt.vateud.net/" target="_blank">cpt.vateud.net</a>
</section>
