%section#feature_slider
  <article class="slide" id="showcasing" style="background: url('img/backgrounds/landscape.png') repeat-x top center;">
  <img class="asset left-30 sp600 t120 z1" src="img/slides/scene1/macbook.png" />
  <div class="info">
  <h2>Beautiful theme for showcasing your works.</h2>
  </div>
  </article>
  <article class="slide" id="ideas" style="background: url('img/backgrounds/aqua.jpg') repeat-x top center;">
  <div class="info">
  <h2>We love to turn ideas into beautiful things.</h2>
  </div>
  <img class="asset left-480 sp600 t260 z1" src="img/slides/scene2/left.png" />
  <img class="asset left-210 sp600 t213 z2" src="img/slides/scene2/middle.png" />
  <img class="asset left60 sp600 t260 z1" src="img/slides/scene2/right.png" />
  </article>
  <article class="slide" id="tour" style="background: url('img/backgrounds/color-splash.jpg') repeat-x top center;">
  <img class="asset left-472 sp650 t210 z3" src="img/slides/scene3/ipad.png" />
  <img class="asset left-365 sp600 t270 z4" src="img/slides/scene3/iphone.png" />
  <img class="asset left-350 sp450 t135 z2" src="img/slides/scene3/desktop.png" />
  <img class="asset left-185 sp550 t220 z1" src="img/slides/scene3/macbook.png" />
  <div class="info">
  <h2>Fully Responsive theme</h2>
  <a href="features.html">TOUR THE PRODUCT</a>
  </div>
  </article>
  <article class="slide" id="responsive" style="background: url('img/backgrounds/indigo.jpg') repeat-x top center;">
  <img class="asset left-472 sp600 t120 z3" src="img/slides/scene4/html5.png" />
  <img class="asset left-190 sp500 t120 z2" src="img/slides/scene4/css3.png" />
  <div class="info">
  <h2>
  Responsive <strong>HTML5 & CSS3</strong>
  Theme
  </h2>                
  </div>
  </article>        
