<section id="feature_slider" class="">
%article.slide#showcasing{:style => "background: url(#{image_path('backgrounds/landscape.png')}) repeat-x top center;"}
  =image_tag "slides/scene1/macbook.png", :class => "asset left-30 sp600 t120 z1"
  .info
    %h2 Beautiful theme for showcasing your works.

%article.slide#ideas{:style => "background: url(#{image_path('backgrounds/aqua.jpg')}) repeat-x top center;"}
  =image_tag "slides/scene2/left.png", :class => "asset left-480 sp600 t260 z1"
  =image_tag "slides/scene2/middle.png", :class => "asset left-210 sp600 t213 z2"
  =image_tag "slides/scene2/right.png", :class => "asset left60 sp600 t260 z1"
  .info
    %h2 We love to turn ideas into beautiful things.

%article.slide#tour{:style => "background: url(#{image_path('backgrounds/color-splash.jpg')}) repeat-x top center;"}
  =image_tag "slides/scene3/ipad.png", :class => "asset left-472 sp650 t210 z3"
  =image_tag "slides/scene3/iphone.png", :class => "asset left-365 sp600 t270 z4"
  =image_tag "slides/scene3/desktop.png", :class => "asset left-350 sp450 t135 z2"
  =image_tag "slides/scene3/macbook.png", :class => "asset left-185 sp550 t220 z1"
  .info
    %h2 Fully Responsive theme
    <a href="features.html">TOUR THE PRODUCT</a>

%article.slide#responsive{:style => "background: url(#{image_path('backgrounds/indigo.jpg')}) repeat-x top center;"}
  =image_tag "slides/scene4/html5.png", :class => "asset left-472 sp600 t120 z3"
  =image_tag "slides/scene4/css3.png", :class => "asset left-190 sp500 t120 z2"
  .info
    %h2 Responsive <strong>HTML5 & CSS3</strong> Theme
</section>  