.span4.recent_posts
  %h3.footer_header Upcoming events
  - for item in @events
    .post
      =link_to image_tag(random_rounded_small_images(1).first, :class => "img-circle"), "#"
      .date= item.starts.strftime("%d %b. %Y")
      = link_to item.title, "#", :class => "title"
      = raw("<em>by #{item.subdivisions.first.name}</em>")
    